.post_user_box {
    padding: 0% 5%;
}

.post_user_information {
    display: flex;
    justify-content: space-between;
}

.post_user_date_icons {
    display: flex;
}

img{
    max-width: 200px;
}

.negative{
    color: red;
}